*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
fm-buyer-api/logs/
.idea/workspace.xml
# Package Files #
**/target
*.war
*.ear
**/.settings
**/.classpath
**/.project
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
.idea
target
application.pid
nohup.out
.DS_Store
**logs**
